# Virtual environments
venv/
.venv/
env/
apikeys.txt

# Python caches & build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Packaging
*.egg-info/
pip-wheel-metadata/
build/
dist/

# Env files
.env
